p a { color: palevioletred; } 
body {
    background-color: aliceblue;
}
#id1, #id2, #id3, #id4, #id5 {
    display: inline-block; /*making the link a block element*/
    color: palevioletred; /*bright blue text color*/
    text-decoration: none; /*removing the underline*/
    padding: 5px 10px; /*adding some space inside the link*/
    border: 3px solid palevioletred; /*added a pink color*/
    transition: all 0.3s ease; /*adding a transition*/
}
h1 {
    color: rgba(53, 102, 41, 0.823);
    font-family: Monospace;
    font-size: 4em;
}
 #id6 a:hover {
            font-style: italic;
            color: palevioletred;
}
h2 {
    color: rgba(29, 60, 29, 0.401);
    font-family: monospace;
    font-size: 2em;
    margin-bottom: 40px;
}
p {
    color: rgba(0, 0, 0, 0.692);
    font-family: sans-serif;
    font-size: 1em;
}
h3 {
    color: rgba(29, 60, 29, 0.401);
    font-family: monospace;
    font-size: 1.5em;
    margin-bottom: 30px;
}
html {
    scroll-behavior: smooth;
}
section a {
    color: palevioletred;
    
}
ul {
    list-style-type: square;
    color: rgba(28, 122, 74, 0.568);
    margin-bottom: 50px;
}
label {
    display: block;
    margin-bottom: .25em;
}
input {
    width: 100%;
    font-size: inherit;
    padding: .4em;
    margin-bottom: .5em;
}
input, button {
    border-radius: 5px;
}
input, textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #604f4f;
    border-radius: 4px;
}
button {
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
    background-color: rgb(53, 102, 41, 0.823);
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
#table1 {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: .2em .7em;
    text-align: right;
    &.left{
            text-align: left;
    }
}
#season, #crop, #time, #price, #sell, #get, thead {
    background-color: rgba(255, 253, 108, 0.607);
}
tfoot {
    font-weight: bold;
}
#id9, #id10, #id11, #id12, #id13, #id14, tfoot{
    background-color: rgba(255, 252, 108, 0.607);
    border: 0
}
#table2 {
    border: 1px solid black;
    border-collapse: collapse;
}
#season2, #fish, #time2, #weather, #location, thead, tfoot {
    background-color: rgba(6, 64, 21, 0.444);
}
#are, #i, #catch, #them, #all, tfoot {
    border: 0;
}
a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0);
}